/1.-CLASE_ESPONDA/EDA-WORKSPACE/nbproject/private/
/1.-CLASE_ESPONDA/EDA-WORKSPACE/build/
/1.-CLASE_ESPONDA/EDA_Viernes/nbproject/private/
/1.-CLASE_ESPONDA/EDA_Viernes/build/
/1.-CLASE_ESPONDA/EDA_Viernes/dist/